wheel==0.42.0
setuptools==69.0.3
twine==4.0.2
build==1.0.3
html-testRunner~=1.2.1

buildlackey==1.6.3

mypy==1.8.0
mypy-extensions==1.0.0
types-Deprecated==1.2.9.20240106
types-setuptools==69.0.0.20240115
typing_extensions==4.9.0

Deprecated~=1.2.14

untangle==1.2.1
wxPython==4.2.1

codeallybasic==1.1.0
codeallyadvanced==1.1.0

pyutmodelv2==2.1.0
ogl==2.1.5
