wheel==0.45.1
setuptools==75.6.0
twine==6.0.1
build==1.2.2.post1
html-testRunner~=1.2.1

buildlackey==1.7.0

mypy==1.13.0
mypy-extensions>=1.0.0
typing_extensions==4.12.2

untangle==1.2.1
# Brought in by ogl
# wxPython==4.2.2

codeallybasic>=1.7.0
codeallyadvanced>=1.3.2

pyutmodelv2==2.2.0
ogl>=3.6.0
